[submodule "external/evolvepro"]
    path = external/evolvepro
    url = https://github.com/mat10d/EvolvePro.git
	branch = main

[submodule "external/evolve_pro_demo_alphafold/alphafold3"]
	path = external/evolve_pro_demo_alphafold/alphafold3
	url = https://github.com/sma1-rmarud/alphafold3.git
	branch = main
